# Web framework
Django>=5.0,<6.0
djangorestframework>=3.15,<4.0

#Requests HTTP
requests>=2.31,<3

# PostgreSQL driver (psycopg v3)
psycopg[binary]>=3.1,<4.0

# JUnit XML test runner
# Test coverage
coverage>=7.6,<8.0

# Pytest
pytest>=7.4,<9.0
pytest-django>=4.5,<5.0

# Lint/Format
black>=24.4,<25.0
ruff>=0.6,<1.0
